body {
  background-color: #fff59d;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

nav {
  flex: 0;
}

.nav-wrapper {
  padding: 0 10px;
}

.content {
  flex: 1;
  padding: 6px 40px;
}

footer {
  flex: 0;
}

fieldset {
  border-color: #e65100;
  padding: 0 35px;
  margin-top: 15px;
}

fieldset > h4 {
  text-transform: uppercase;
  color: #e65100;
  font-weight: 800;
}

table.striped > tbody > tr:nth-child(2n+1) > td {
   background-color: #fff8e1;
}